

<header>

    <div class="logo-container">
        <i class='bx  bx-note-book'></i> 
        <span>Notes</span>
    </div>

    <div class="search-box">
        <form action="/search" method="POST">
            <i class='bx  bx-search'></i> 
            <input type="text" name="search-key" placeholder="Search">
        </form>
    </div>

</header>


