<section id="main">

    <form action="/add" method="POST">
            <input type="textarea" name="task" placeholder="Enter task here">
            <input type="submit" value="Add task">
    </form>

    <div class="scroll-container">

        <ul class="tasks-container">

            <% tasks.forEach((task) => { %>
                
                <li class="task-item">
                    <div class="item">
                        <div>
                            <span><%- task.task %></span>
                        </div>

                        <a href="/delete/<%- task.id %>">
                            <i class='bx  bx-x'></i> 
                        </a>  
                    </div>  
                </li>

            <% }) %>

        </ul>

    </div>

    

</section>
