<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">



</head>
<body>


    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="Enter task here">
        <input type="submit" value="Add task">
    </form>

    <ul>

        <% tasks.forEach((task) => { %>
            
            <li>

                <div>
                    <%- task.task %>
                </div>

                <a href="/delete/<%- task.id %>">
                    <i class='bx  bx-x'></i> 
                </a>
                
            </li>
    
        <% }) %>

    </ul>
    
    
</body>
</html>