

body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-content-background);
}

header {
    outline: 2px solid black;
    width: calc(100% - 20*2);
    margin: auto;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 20px;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    
}

.bx-note-book {
    /* outline: 2px solid black; */
    font-size: 26px;
    display: block;
}

.search-box {
    outline: 2px solid black;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    background-color: var(--color-content-background);
}

.search-box > form {
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
}

.search-box form input {
    border: none;
    background: transparent;
}

.search-box form input:focus {
    outline: none;
}