#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scroll-container {
    /* outline: 2px solid red; */
    overflow-y: scroll;
    height: 500px;

    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}


.tasks-container {
    /* outline: 2px solid white; */
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1px;
    /* grid-auto-flow:dense; */
    gap: 10px;
}

.task-item {
    /* break-inside: avoid; */
    padding: 0px 20px 0px 20px;
}

.task-item {
    outline: 2px solid black;
    border-radius: 20px;
    display: flex;
    /* padding: 10px; */
}

.task-item>div {
    /* outline: 2px solid red; */
    display: flex;
    flex: 1;
    height: fit-content;
}

.task-item a {
    display: flex;
    align-items: center;
}

.task-item div span {
    /* white-space: wrap; */
    word-break: break-word;
}