#main {
    width: 70vw;
    margin: auto;
}

.tasks-container {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10px;
    gap: 10px;

}

.task-item {
    break-inside: avoid;
}

.task-item {
    outline: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.task-item > div {
    outline: 2px solid red;
    display: flex;
    flex: 1;
    padding: 10px;
    height: fit-content;
}   

.task-item a {
    display: flex;
    align-items: center;
}

.task-item div span {
    /* white-space: wrap; */
    word-break: break-word;
}